<?xml version="1.0"?>
<model>
  <name>nikko_garden_block_north</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Nikko Garden Residential Community & Creative Studios north (13F)
  </description>
</model>
