<?xml version="1.0"?>
<model>
  <name>fengyi_landmark_residence</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Fengyi Landmark 20F Luxury High-Rise Residence (65m) with Neoclassical Podium
  </description>
</model>
