<?xml version="1.0"?>
<model>
  <name>park_prime_residence</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Park Prime Residence 18F Luxury Parkview Tower Facing Nikko Park
  </description>
</model>
