<?xml version="1.0"?>
<model>
  <name>telecom_box</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    Chunghwa Telecom Fiber Cross-Connect Pedestal Cabinet (中華電信光纖接續箱).
  </description>
</model>
