<?xml version="1.0"?>
<model>
  <name>parked_scooter</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics 3D Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Authentic Low-Poly Taiwanese Commuter Scooter (台灣經典速克達機車 125cc) for roadside parking bays.
  </description>
</model>
