<?xml version="1.0"?>
<model>
  <name>guanxin_prestige_center</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Guanxin Prestige Commercial Center 14F Glass Curtain Medical & Boutique Tower
  </description>
</model>
