<?xml version="1.0"?>
<model>
  <name>under_viaduct_linear_park</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Under-Viaduct Linear Recreation Park (鐵路橋下綠帶休憩公園)</description>
</model>
