<?xml version="1.0"?>
<model>
  <name>taipower_box</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics 3D Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Authentic Taiwanese Taipower Green Electrical Utility Box (台電綠色變電箱) with concrete base and warning decals.
  </description>
</model>
