<?xml version="1.0"?>
<model>
  <name>changyi_danmark_residence</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Changyi Danmark European Village Residence (14F European-style community)</description>
</model>
