<?xml version="1.0"?>
<model>
  <name>street_light</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    Modern LED Cantilever Street Light Pole (7m) for Taiwanese Urban Corridors.
  </description>
</model>
