<?xml version="1.0"?>
<model>
  <name>science_park_tech_innovation_tower</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Hsinchu Science Park Semiconductor Innovation Tower (TSMC & MediaTek Hub)</description>
</model>
