<?xml version="1.0"?>
<model>
  <name>monument_silicon_wafer</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Hsinchu Science Park 12-inch 300mm Silicon Wafer Installation Art (矽晶之島・護國神山)</description>
</model>
