<?xml version="1.0"?>
<model>
  <name>guanxin_imperial_plaza</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Guanxin Imperial Plaza 17F Mixed-Use Tower with E.SUN Bank Branch & Arcade
  </description>
</model>
