<?xml version="1.0"?>
<model>
  <name>guangfu_south_strip_west</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Guangfu Road South Continuous Commercial & Residential Strip (15F, 130.0m)
  </description>
</model>
