<?xml version="1.0"?>
<model>
  <name>px_mart_store</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    PX Mart Supermarket (全聯福利中心新竹關新門市) high-fidelity commercial digital twin model.
  </description>
</model>
