<?xml version="1.0"?>
<model>
  <name>gx2_west_end_block</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    關新二街西端商住街區大樓 (14F)
  </description>
</model>
