<?xml version="1.0"?>
<model>
  <name>monument_dram_semiconductor</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Hsinchu Science Park DRAM & 3D Advanced Packaging Monument (DRAM 與先進封裝晶片藝術)</description>
</model>
