<?xml version="1.0"?>
<model>
  <name>guandong_corner_tech_tower</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Guandong Corner Financial & Tech Tower 15F High-Rise
  </description>
</model>
