<?xml version="1.0"?>
<model>
  <name>parked_car_suv</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    Curbside Parked Compact SUV / Crossover (路邊停放運動休旅車).
  </description>
</model>
