<?xml version="1.0"?>
<model>
  <name>monument_lcd_microled</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Hsinchu Science Park Curved LCD & Micro-LED Display Installation Art (光電面板與 Micro-LED 藝術)</description>
</model>
