<?xml version="1.0"?>
<model>
  <name>model_y</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>kenny</name>
    <email>kenny@example.com</email>
  </author>
  <description>
    Tesla Model Y with Ackermann steering, physical collisions, and 3 onboard camera sensors.
  </description>
</model>
