<?xml version="1.0"?>
<model>
  <name>parked_car_sedan</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    Curbside Parked Mid-size Sedan (路邊停放四門房車).
  </description>
</model>
