<?xml version="1.0"?>
<model>
  <name>guangfu_south_strip_east</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Guangfu Road South Continuous Commercial & Residential Strip (16F, 180.0m)
  </description>
</model>
