<?xml version="1.0"?>
<model>
  <name>traffic_signal_pole</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics 3D Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Standard Taiwanese Cantilever Traffic Signal &amp; Streetlight Pole (台灣懸臂式號誌桿與路名牌) with vehicle signal, pedestrian signal, and street name plates.
  </description>
</model>
