<?xml version="1.0"?>
<model>
  <name>yipin_daguan_complex</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Yipin Daguan Neoclassical Luxury Complex (一品大觀 - 關新路新古典崗石名邸), featuring 22-storey residential towers (68m), grand classical porte-cochère entrance portico, rusticated stone podium, and classical cornice crown.
  </description>
</model>
