<?xml version="1.0"?>
<model>
  <name>street_tree</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics 3D Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Low-Poly Stylized Taiwanese Urban Camphor Tree (台灣都會樟樹/榕樹) with faceted foliage canopy and collision-optimized trunk.
  </description>
</model>
