<?xml version="1.0"?>
<model>
  <name>gx1_west_end_block</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    關新一街西端住宅街區大樓 (13F)
  </description>
</model>
