<?xml version="1.0"?>
<model>
  <name>railway_viaduct_east_ext</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Extended Railway Viaduct Eastbound to Kezi Creek/Zhudong</description>
</model>
