<?xml version="1.0"?>
<model>
  <name>xinzhuang_transit_hotel</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Xinzhuang Station Transit Hotel & Commercial Tower 14F
  </description>
</model>
