<?xml version="1.0"?>
<model>
  <name>orange_hour_cafe</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Autonomous Robotics &amp; Simulation Team</name>
    <email>kennycym@gmail.com</email>
  </author>
  <description>
    Orange Hour Cafe (橘時咖啡 2F), Southwest corner of Guanxin Rd and Guanxin 2nd St.
  </description>
</model>
