<?xml version="1.0"?>
<model>
  <name>dingsheng_shili_restaurant</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Digital Twin Team</name>
    <email>kenny@digitaltwin.local</email>
  </author>
  <description>
    Dingsheng Shili Hotpot Restaurant (鼎盛十里鍋物新竹旗艦店) Japanese Zen Architectural Landmark.
  </description>
</model>
