<?xml version="1.0"?>
<model>
  <name>gxe_north_commercial_block</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    關新東路北段商務大樓 (12F)
  </description>
</model>
