<?xml version="1.0"?>
<model>
  <name>guandong_civic_market</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Autonomous Simulation Team</name><email>sim@guanxin.sim</email></author>
  <description>Guandong Civic & Traditional Market Complex (4F Landmark civic center)</description>
</model>
