<?xml version="1.0"?>
<model>
  <name>moon_shadow_building</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Autonomous Robotics &amp; Simulation Team</name>
    <email>kennycym@gmail.com</email>
  </author>
  <description>
    Moon Shadow International Luxury High-Rise Community (月影國際會館 18F), Guanxin Road West Side.
  </description>
</model>
