<?xml version="1.0"?>
<model>
  <name>guandong_east_commercial_block</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    關東路東段南側商住大樓 (11F)
  </description>
</model>
