<?xml version="1.0"?>
<model>
  <name>giant_bronze_sculpture_monument</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robotics &amp; Simulation Specialist</name>
    <email>robotics@guanxin.sim</email>
  </author>
  <description>
    Monumental 19.5m Super Giant Bronze Public Art Sculpture 'Crown of Wind and Tech Mobius' at Nikko Park Center
  </description>
</model>
